[submodule "third_party_libs/openal-soft"]
	path = third_party_libs/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "third_party_libs/bgfx"]
	path = third_party_libs/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "third_party_libs/imgui"]
	path = third_party_libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party_libs/box2d"]
	path = third_party_libs/box2d
	url = https://github.com/erincatto/box2d
[submodule "third_party_libs/sdl"]
	path = third_party_libs/sdl
	url = https://github.com/libsdl-org/SDL
